= form_with(model: step, local: true) do |form|
  - if step.errors.any?
    #error_explanation
      %h2
        = pluralize(step.errors.count, "error")
        prohibited this step from being saved:
      %ul
        - step.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit